* {
   margin:0;
   padding: 0;
   box-sizing: border-box;
}
.Contenedor{
    width: 60vw;
    height:95vh;
    border:1px solid black;
    background-color: rgba(1,1,1,.1);
    float: left;
    
}
header{
    width: 100%;
    height:30px;
    background-color:#434343;
    color:white;
    text-align: center; 
}
.titulo,
.bloques{
    height:100%;
    float: left;
}
.titulo{
    width:20%;
}
.titulo p{
    margin-top:10px;
    margin-left: 5px;
}
.bloques{
    width:80%;
}