.Bloque header{
    width: 100%;
    height:10%;
    text-align: center;
    font-size: 15px;
}
.Bloque{
    padding:2px;
    width:20%;
    float: left;
    height:100%;
}
.Bloque section{
    width:100%;
    height:80%;
    background-color: white;
    
}
.Dominio,
.Input{
    height:80%;
}
.Dominio{
    width: 70%;
    float: left;
}
.Inputs{
    width: 30%;
    float: left;
}
.Dominio p{
    padding-top: 19px;
    padding-left: 2px;
}
.Inputs input{
    margin-top: 20px;
    padding-top:-2;
    width: 30px; 
}
.Agregar button {
    margin-top: 10px;
    
}
.Bloque .scroll{
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.bloque .scroll::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

