.Conten{
    width:100%;
    height:50px;
    background-color:white;
}
.select1{
    margin-top: 10px;
    float: left;
}
.inter1{
    padding: 15px;
    float: left;
    margin-left:150px; 
}
.select2 {
    margin-top: 10px;
    float: left;
}