.Bloque header{
    width: 100%;
    height:10%;
    text-align: center;
    font-size: 15px;
}
.Bloque section{
    width:100%;
    height:90%;
    background-color: white;
}
.Scheduling{
    width:60%;
    padding:2px;
    float: left;
    height:100%;
}
.CPU{
    width:40%;
    padding:2px;
    float: left;
    height:100%;
}
.Scheduling .relleno{
    font-size: 18px;
    padding-top:3px;
    padding-left:3px;
}
.CPU input {
    width: 30px;
    float: left;
}
.CPU .parte1{
    width: 100%;
    height:60%;
}
.CPU .parte2 {
    width: 100%;
    height: 40%;
}
.parte1 select{
    margin-left:15%;
    margin-top:10%;
}
.parte2 p,.parte2 input{
    float: left; 
}
.parte2 p{
    margin-top:3px;
    margin-left:40px;
}
.parte2 input{
    margin-left:20px;
}