.Bloque header{
    width: 100%;
    height:10%;
    text-align: center;
    font-size: 15px;
}
.Bloque section{
    width:100%;
    height:90%;
    background-color: white;
}
.Scheduling{
    width:60%;
    padding:2px;
    float: left;
    height:100%;
}
.CPU{
    width:40%;
    padding:2px;
    float: left;
    height:100%;
    background-color:white;
}

.select_Scheduling {
    margin-top: 10px;
    float: right;
}

.Dominio,
.Input{
    height:80%;
}
.Dominio{
    width: 70%;
    float: left;
}
.Inputs{
    width: 30%;
    float: left;
}
.Dominio p{
    padding-top: 19px;
    padding-left: 2px;
}
.Inputs input{
    margin-top: 18px;
    padding-top:-2;
    width: 30px; 
    font-size: 15px;
    text-align: center;

}